@page
@model ToDoList_11._04._2023.Pages.CreateToDoModel
@{
    ViewData["Title"] = "To Do Create";
}

<h2>@ViewData["Title"]</h2>

<form asp-page="CreateToDo">
    <div class="form-group">
        <label asp-for="toDo.Title"></label>
        <input asp-for="toDo.Title" class="form-control"/>
        <span asp-validation-for="toDo.Title" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Create</button>
</form>